@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: #050505;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


body > img {
    width: 100%;
    max-width: 220px;
    height: auto;

    filter: 
       drop-shadow(0 0 1em #9b4dff)
        drop-shadow(0 0 13em #9b4dff)
        drop-shadow(0 0 3em #9b4dff);
}


h2 {
    background: transparent;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: clamp(24px, 5vw, 42px);
}


div {
   
    display: inline-grid;
    gap: 10px;
    width: 100%;
    max-width: 320px;
    

}


input {
    flex: 1;
    height: 45px;   
   /* background: rgba(255, 255, 255, 0.15);*/
    border-radius: 6px;
   /* border: 1px solid rgba(255, 255, 255, 0.2); */
    padding: 0 10px;
    font-size: 16px;
    color: #fff;


    background: transparent;
  border: 2px solid #9b4dff;  
  color: #fff;               
  outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

button {
    
    width: 100%;
    max-width: 320px;
    height: 48px;
    background: #9b4dff;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;

    box-shadow: 0 0 12px rgba(155, 77, 255, 0.6);
}

.result {
    margin-top: 20px;
    width: 100%;
    max-width: 320px;
    height: 66px;
    background: rgba(155, 77, 255, 0.15);
    border: 2px solid #9b4dff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    font-weight: 900;
    color: #fff;

    box-shadow: 0 0 25px rgba(155, 77, 255, 0.9);
}

.hidden {
    display: none;
}

/* ANIMAÇÃO DE EXPLOSÃO / PULSO */
@keyframes explosion {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }
    60% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
    }
}

/* EFEITO DE PISCAR */
@keyframes flash {
    0%, 100% {
        box-shadow: 0 0 25px rgba(155, 77, 255, 0.9);
    }
    50% {
        box-shadow: 0 0 50px rgba(255, 255, 255, 1);
    }
}

.animate {
    animation: explosion 0.6s ease-out, flash 1s ease-in-out;
}





button:hover {
    background: #8a3df0;
    box-shadow: 0 0 22px rgba(155, 77, 255, 0.9);
}

button:active {
    transform: scale(0.97);
}


@media (min-width: 876px) {
    body > img {
        max-width: 889px;
    }

    div,
    button {
        max-width: 340px;
    }
}
@media (min-width: 860px) {
    body > img {
        max-width: 270px;
    }

    div,
    button {
        max-width: 360px;
    }
}
